/* * {
  background-color: aquamarine;
} */

/* #farm {
  background-color: lightyellow;
} */

.button {
    padding: 10px;
    height: 150px;
    width: 150px;
    
    border: solid black 1px;
    margin: 10px;
    border-radius: 50%;
    margin: auto;
    text-align: center;
  }
  #makeCat {
      background-color: red
  }
  #makeSheep {
    background-color: lightblue
}
#makeDog {
    background-color: green
}
#makeHorse {
    background-color: gold
}